.logo {
  height: 150px;
  margin-bottom: 24px;
  pointer-events: none;
}

// CIDR VALIDATION STYLING

.cidr-validation-header {
  background: #253343;
  color: #fff;
  font-weight: bold;
}

.cidr-validation-header,
.cidr-validation-row {
  line-height: 3em;

  span {
    padding: 0 1em;
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
  }
}

.cidr-validation-row {
  border-bottom: 1px solid lightgray;
}

// VALID ICON

.is-valid {
  color: green;
}

.is-not-valid {
  color: red;
}

//CHART STYLING

.transparent {
  display: none;
}

.no-domain {
  .domain,
  line {
    display: none;
  }
}

//END CHART STYLING

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.button-group {
  margin-top: 48px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 24px;
}

.btn {
  cursor: pointer;
  height: 40px;
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 4px;
  color: white;

  &.primary-btn {
    background: #0e8cd1;
    &:hover {
      background: lighten(#0e8cd1, 10%);
    }
  }
  &.secondary-btn {
    background: #5f6f83;
    margin-left: 12px;
    &:hover {
      background: lighten(#5f6f83, 10%);
    }
  }
}

.cta-button {
  width: 300px;
  margin-top: 24px;
}

.challenge-modal {
  opacity: 0;
  pointer-events: none;
  width: 700px;
  background-color: #fbfbfb;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: calc(50% - 300px);
  transition: opacity 0.2s ease-in-out;
  border-radius: 4px;
  &.is-open {
    opacity: 1;
    pointer-events: all;
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #e0e6ed;
    padding: 20px;
    .modal-title {
      font-size: 20px;
      font-weight: 600;
    }
    .close-button {
      cursor: pointer;
      font-size: 24px;
      background: none;
      font-weight: 800;
      border-radius: 4px;
      svg {
        color: #5f6f83;
      }
    }
  }
  .modal-content {
    padding: 20px;
    // overflow-y: auto;
    height: calc(100% - 200px);
  }
  .submit-button-group {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    background: white;
    width: calc(100% - 40px);
    padding: 20px;
    border-top: 1px solid #e0e6ed;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.legend-items {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
}
.legend-item-wrapper {
  position: relative;
  width: 200px;
  .tooltip {
    display: none;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    box-shadow: 0 0 4px #e0e6ed;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: white;
  }
  &:hover {
    .tooltip {
      display: inline;
    }
  }
}
.legend-item {
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border: 1px solid #e0e6ed;
  border-radius: 4px;
  margin: 5px;
  max-width: 170px;
  .circle {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin-right: 6px;
  }
  .text {
    direction: rtl;
    max-width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.vertically-significant-box {
  position: relative;
  height: 2000px;
  background-color: aquamarine;
  border: 1px solid black;
  span {
    position: absolute;
    bottom: 0;
  }
}

.alert {
  position: relative;
  padding: 34px 20px 20px 20px;
  box-shadow: 0 4px 7px rgba(37, 51, 67, 0.1);
  border: 1px solid #e0e6ed;
  font-size: 13px;
  border-radius: 4px;

  .alert-start-time {
    font-size: 11px;
    position: absolute;
    top: 10px;
    right: 20px;
    .value {
      font-weight: 600;
    }
  }
  .alert-info {
    display: flex;
    flex-direction: column;
    height: 100%;

    .alert-description {
      color: rgb(95, 111, 131);
      margin-bottom: 24px;
    }
    .alert-value {
      font-size: 11px;
      margin-top: auto;
    }
  }
}

.with-button {
  display: flex;
}

.settings {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  .setting {
    display: grid;
    grid-template-columns: 15% 25% 60%;
    align-items: center;
    .title {
      font-size: 12px;
    }
    .description {
      font-size: 10px;
      color: #5f6f83;
    }
    input {
      height: 26px;
      width: 250px;
      padding: 2px 3px;
    }
    button {
      border: 1px solid transparent;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      font-weight: 600;
      line-height: 14px;
      padding: 8px 12px;
      position: relative;
      outline: none;
      text-transform: none;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, color 0.15s ease-in-out;
      white-space: nowrap;
      margin-left: 12px;
      background-color: #0e8cd1;
      border-color: transparent;
      color: #fff;
    }
  }
}

.name-search {
  .modal-content {
    overflow-y: auto;
  }

  .name-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 12px;

    &:hover {
      background-color: #e0e6ed;
    }

    &.active {
      background-color: #0e8cd1;
      color: #fff;
    }

    .name-data {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .is-member, .is-subscribed {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
